body{
  background-color: #f6f6f6;
}

.comm-main {
  margin-top:0.5rem;
}

.comm-left{
  background-color: #fff;
  padding:0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}

/* 要把.comm-right 换为 .comm-box 因为 .comm-right .comm-left 是等高的  
但是comm-box不与其等高*/
.comm-box{
  background-color: #fff;
  margin-left: 0.5rem;
  padding:0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}
